name: "$(Date:yyyy)-$(Date:MM)-$(Rev:r)"

pr:
- main

trigger:
  batch: true
  branches:
    include:
    - main
    - feature/*
  paths:
    include:
    - src/*
    - tests/*
    - prisma/*

pool:
  vmImage: ubuntu-latest

jobs:
- job: build
  displayName: Build
  steps:

  - task: CmdLine@2
    displayName: 'Move .env file'
    inputs:
      script: mv $(Build.SourcesDirectory)/.env.example $(Build.SourcesDirectory)/.env

  - task: DockerCompose@0
    displayName: Run Docker-compose-up
    inputs:
      containerregistrytype: Container Registry
      dockerComposeFile: $(Build.SourcesDirectory)/docker-compose.yaml
      dockerComposeCommand: 'up -d'